html {
    height: 100%;
}
body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
    min-width:900px;
}
li{
    font-size:14px;
    font-family:arial, sans-serif;
    color:#3333AA;
    margin-top:9px;
}
.navbar{
	background-color: white;
	float: right;
	margin-top: 10px;
    padding-bottom:60px;
    whitespace:nowrap;
}
.navbar ul li{
	display: inline;
	color: #30669c;
}
.navbar ul li a:hover{
	color: #18AFE0;
}
.navbar a{
	text-decoration:none;	
	font-family:sans-serif;
	color:#222222;
	padding:25px 5px 10px 8px;
	font-size:16px;
	vertical-align:center;
	align:right;
	margin:10px;
}
.navbar a:hover{
	color:red;
}
#app_nav{
    whitespace:nowrap;
}
#app_nav li{
    margin:50px 30px;  
    width:200px; 
}
#app_nav a{
    background-color:#EEEEEE;
    text-decoration:none;   
    font-family:sans-serif;
    font-style:bold;
    color:#444488;
    font-size:24px;
    padding:5px;
    border-radius:5px;
    border:2px solid grey;
}
#app_nav a:hover{
    color:red;
}
.page{
    text-align: left;
    float:left;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width:900px;
    background-color:white;
    position:absolute;
    top:40px;
    min-width:220px;
}
.header{
    font-size:24px;
    font-style:bold;
    margin:9px;
    font-family:arial, sans-serif;
    color:#FE2266;
    float: left;
    height:70px;
    width:200px;
}
.logo{
    height:120px;
    margin:12px;
}
.timeline{
    width:960px;
    margin:10px;
}
.li_logo{
    display: inline;
}
#map-canvas, #logo-canvas, #canvas{
    float:right;
    top:7px;
    height: 90%; 
    width:78%;
    margin:5px 25px;
    min-width:800px;
}
#canvas h1{
    color:dark-grey;
    font-style:bold;
    font-family:arial;
    font-size:24pt;
}
#canvas p{
    color:dark-grey;
    font-family:arial;
    font-size:12pt;
}
#item_list{
    height:auto;
    width:200px;
    background-color:#DDDDDD;
    margin:12px;
    padding:4px;
}
#blue_line{
    top:400px;
    vertical-align:center;
    margin:20px;
    length:900px;
}