html {
    height: 100%;
}
body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
    min-width:900px;
}
li{
    font-size:14px;
    font-family:arial, sans-serif;
    color:#3333AA;
    margin-top:9px;
}
.text_panel{
    float:left;
    width:20%;
    height:25%;
    margin:4px;
    border: 1px solid gray;
    padding:2px;
    border-radius:2px;
}
.pic_panel{
    float:left;
    width:20%;
    height:25%;
    margin:4px;
}
.navbar{
	background-color: white;
	float: right;
	margin-top: 10px;
    padding-bottom:60px;
    whitespace:nowrap;
}
.navbar ul li{
	display: inline;
	color: #30669c;
}
.navbar ul li a:hover{
	color: #18AFE0;
}
.navbar a{
	text-decoration:none;	
	font-family:sans-serif;
	color:#222222;
	padding:25px 5px 10px 8px;
	font-size:16px;
	vertical-align:center;
	align:right;
	margin:10px;
}
.navbar a:hover{
	color:red;
}
.fun{
    height:120px;  
}
.caption{
    position:relative;
    bottom:-8px;
    left:4px;
    visibility:hidden;
}
#app_nav{
    whitespace:nowrap;
    padding:10px;
    margin:10px;
}
#app_nav li{
    margin:20px 75px;  
    width:100%;
    display:inline;
}
#app_nav a{
    background-color:#DDCCDD;
    text-decoration:none;   
    font-family:sans-serif;
    font-style:bold;
    color:#444488;
    font-size:24px;
    padding:10px;
    border-radius:3px;
    border:2px solid grey;
}
#app_nav a:hover{
    color:red;
}
.page{
    text-align: left;
    float:left;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width:900px;
    background-color:white;
    position:absolute;
    top:40px;
}
.header{
    font-size:24px;
    font-style:bold;
    margin:9px;
    font-family:arial, sans-serif;
    color:#FE2266;
    float: left;
    height:70px;
    width:200px;
}
.logo{
    height:120px;
    margin:12px;
}
.timeline{
    width:960px;
    margin:10px;
}
.li_logo{
    display: inline;
}
#map-canvas, #logo-canvas{
    float:left;
    top:10px;
    height: 90%; 
    width:90%;
    margin:10px 20px;
    min-width:800px;
}
#canvas{
    float:left;
    height: 90%; 
    width:90%;
    margin:10px 20px;
    min-width:400px;
}
#canvas h1{
    color:#2222AA;
    font-style:bold;
    font-family:arial;
    font-size:18pt;
    margin:2px 2px 6px 2px;
}
#canvas h2{
    color:grey;
    font-style:bold;
    font-family:arial;
    font-size:14pt;
}
#canvas p{
    color:#2222BB;
    font-family:georgia, times;
    font-size:11pt;
}
#time_line{
    top:400px;
    margin:10px;
    length:800px;
}